/* Responsive styles */
/* Mobile and small devices */
@media screen and (max-width: 576px) {
    header,
    main section {
      width: 95%;
      margin: 35px auto 0px;
    }
    .hamburger,
    .cart-icon {
      display: contents;
    }
    .menu {
      display: none;
    }
    .common-container {
      flex-direction: column-reverse;
      gap: 15px;
      /* margin-bottom: 0px; */
    }
    .common-container .common-content,.common-container .banner-img,.common-container .feature-img img {
      width: 100%;
    } 
    .common-container .common-container-img{
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .common-container .common-container-img img{
      width: 100%;
    }
  
    .common-container .common-content {
      text-align: center;
    }
    .common-container .common-content .banner-title {
      font-size: 2rem;
    }
    .logo-hr {
      display: none;
    }
    .logo-container {
      gap: 30px;
      flex-wrap: wrap;
    }
    .popular-collection{
      margin-bottom: 50px;
  }
    .card-container-1,
  .card-container-2,
  .card-container-3 {
    flex-direction: column;
    
  }
  .common-container .feature-content p{
      width: fit-content;
  }
  }
  
  /* Tablets responsive */
  @media screen and (min-width: 577px) and (max-width: 992px) {
      header,
    main section {
      width: 85%;
      margin: 35px auto 0px;
    }
    nav {
      flex-direction: column;
      align-items: center;
    }
    .common-container {
      flex-direction: column-reverse;
      gap: 15px;
      margin-top: 0px;
    }
    .common-container .common-content,
    .common-container .banner-img,
    .common-container .banner-img img {
      width: 100%;
    }
    .common-container .common-container-img{
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .common-container .common-content {
      text-align: center;
    }
    .logo-hr {
      display: none;
    }
    .logo-container {
      gap: 30px;
      /* justify-content: space-evenly; */
      flex-wrap: wrap;
    }
    .card-container-1,
  .card-container-2,
  .card-container-3 {
    flex-direction: column;
    
  }
  .popular-collection{
      margin-bottom: 80px;
  }
  .common-container .feature-content p{
      width: fit-content;
  }
  }
  